@import "../../styles/customInput.module";

.inputPassword {
  @extend .customInputGrey;
  width: 257px;
}

.inputGroup {
  display: flex;
  flex-direction: row;
}

.showHideBtn {
  position: absolute;
  margin-left: 230px;
  background-color: #E8E8E8;
  border: none;
}
