.customGradientButton {
  @extend .textLogin;
  font-weight: 500;
  background: linear-gradient(to right, #5FB0FB, #5200FF);
  border: 0;
  border-radius: 34px;
  justify-content: center;
  text-align: center;
  color: white;
}

.customGradientButton:active {
  cursor: pointer;
  background: linear-gradient(to left, #5FB0FB, #5200FF);
}

.customGradientButton:focus {
  cursor: pointer;
}
