.customButton {
  @extend .textLogin;
  font-weight: 500;
  background: linear-gradient(to right, #5FB0FB, #5200FF);
  padding: 15px 30px;
  border: 0;
  border-radius: 34px;
  justify-content: center;
  text-align: center;
  color: white;
}

.customButton:active {
  cursor: pointer;
  background: linear-gradient(to left, #5FB0FB, #5200FF);
}

.customButton:focus {
  cursor: pointer;
}
