.input {
  width: 500px;
  --g-text-input-border-radius: 34px;
  --g-text-input-background-color: white;
  --g-text-input-border-color: #51A1FF;
  --g-text-input-border-color-hover: #51A1FF;
  --g-text-input-border-color-active: #51A1FF;
  --g-text-input-border-width: 3px;
}
