@import "../../../styles/textFont.module";

.card {
  display: flex;
  flex-direction: row;
  width: 1068px;

  .img {
    width: 280px;
    height: 227px;
    border-radius: 8px 0 0 8px;
  }

  .contentBlock {
    display: flex;
    flex-direction: column;
    width: 808px;
    padding: 15px;
    gap: 23px;
    background: white;
    border-radius: 0 8px 8px 0;

    .upperBlock {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .titleTech {
        @extend .textBasic;
        color: #0B7BFF;
      }

      .mainInfo {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .cardLink {
          text-decoration: none;

          .title {
            @extend .textTitle;
            width: 780px;
          }
        }

        .description {
          @extend .textBasic;
          width: 780px;
        }
      }
    }

    .lowerBlock {
      display: flex;
      flex-direction: column;

      .additionalInfo {
        display: flex;
        flex-direction: row;
        gap: 617px;

        .blockViews {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }

}
