@import "../../../styles/textFont.module";
@import "../../../styles/customBtn.module";
@import "../../../styles/customInput.module";

.infoForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;

  .rowInp {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .inpBlock {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .errorText {
      @extend .textBasic;
      color: red;
      padding-left: 15px;
    }
  }

  .inpArticle {
    @extend .customInputBlue;
    padding: 10px;
    width: 735px;
    height: 125px;
    outline: none;
    resize: none;
  }

  .uploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 735px;
    height: 278px;
    background-color: rgba(81, 161, 255, 0.41);
    border-radius: 25px;

    .contentUpload {
      display: flex;
      flex-direction: column;
      gap: 2px;
      align-items: center;

      .imgForm {
        width: 233px;
        height: 223px;
      }
    }

    .labelUpload {
      position: relative;
      display: inline-block;
    }

    .labelUpload img {
      position: relative;
      cursor: pointer;
      outline: none;
      text-decoration: none;
      text-align: center;
    }

    .labelUpload input[type=file] {
      position: absolute;
      z-index: -1;
      opacity: 0;
      display: block;
      width: 0;
      height: 0;
    }

    .labelUpload input[type=file]:disabled + img {
      background-color: #eee;
    }
  }

  .submitBtn {
    @extend .customButton;
    width: 152px;
    padding: 10px 0 10px 0;
    color: white;
  }
}


